<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <!-- 添加图片 -->
        <img src="{{ url_for('static', filename='index.jpg') }}" alt="描述文字" class="responsive-image">

        <h1>欢迎来到主页</h1>

        <h2><br><a href="{{ url_for('user.user') }}" class="button">前往用户页面</a></h2>
    </div>
</body>
</html>
