<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>User</title>
</head>
<body>
    <div class="container">
        <h1>用户</h1>

        <h2>注册</h2>
        <form method="post">
            <input type="hidden" name="action" value="register">
            <label for="username">用户:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">密码:</label>
            <input type="password" id="password" name="password" required>

            <input type="submit" value="Register">
        </form>

        <h2>登录</h2>
        <form method="post">
            <input type="hidden" name="action" value="login">
            <label for="username">用户:</label>
            <input type="text" id="username_login" name="username" required>

            <label for="password">密码:</label>
            <input type="password" id="password_login" name="password" required>

            <input type="submit" value="Login">
        </form>

        {% if username %}
            <p>Hello, {{ username }}!</p>
        {% endif %}
        {% if error %}
            <p class="error">{{ error }}</p>  <!-- 修正了这里 -->
        {% endif %}
        <a href="{{ url_for('home.home') }}">Home</a>
    </div>
</body>
</html>
